@import url('https://fonts.googleapis.com/css?family=Yatra+One');
/* line 1, assets\less\common.less */
html,
body {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\common.less */
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 3, assets\less\common.less */
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
}
/* line 4, assets\less\common.less */
img,
video {
  border: 0;
  vertical-align: top;
}
/* line 5, assets\less\common.less */
button {
  margin: 0;
  padding: 0;
}
/* line 1, assets\less\style.less */
.wrap {
  width: 100%;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}
/* line 9, assets\less\style.less */
.wrap .header {
  position: relative;
  height: 700px;
}
/* line 13, assets\less\style.less */
.wrap .header img {
  width: 100%;
  height: 100%;
}
/* line 17, assets\less\style.less */
.wrap .header .gnb {
  z-index: 100;
  position: absolute;
  position: fixed;
  top: 66px;
  width: 100%;
  height: 70px;
  line-height: 65px;
  background-color: #00142c;
}
/* line 29, assets\less\style.less */
.wrap .header .gnb ul {
  padding-left: 60%;
  font-size: 0;
}
/* line 32, assets\less\style.less */
.wrap .header .gnb ul li {
  font-size: 11px;
  float: left;
  margin-right: 15px;
}
/* line 42, assets\less\style.less */
.wrap .header .gnb ul li a {
  color: #fff;
  padding: 10px 20px 10px 20px;
}
/* line 46, assets\less\style.less */
.wrap .header .gnb ul li a:hover {
  background-color: #13a9dc;
  border-radius: 5%;
}
/* line 52, assets\less\style.less */
.wrap .header .gnb ul li:first-child a {
  background-color: #13a9dc;
  border-radius: 5%;
  padding: 10px 20px 10px 20px;
}
/* line 57, assets\less\style.less */
.wrap .header .gnb ul li:last-child {
  padding-left: 10px;
}
/* line 60, assets\less\style.less */
.wrap .header .gnb ul li button {
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  width: 16px;
  height: 16px;
  transform: rotate(-14deg);
  margin-top: 27px;
}
/* line 72, assets\less\style.less */
.wrap .header .main_text {
  position: absolute;
  top: 45%;
  left: 38%;
}
/* line 77, assets\less\style.less */
.wrap .header .main_text h1 {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 83, assets\less\style.less */
.wrap .header .main_text button {
  outline: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 15px 50px;
  font-size: 10px;
  margin-top: 95px;
  margin-left: 35%;
}
/* line 98, assets\less\style.less */
.wrap .section_1 {
  outline: 1px #000 solid;
  height: 780px;
}
/* line 101, assets\less\style.less */
.wrap .section_1 .title {
  height: 130px;
  border: 1px #000 solid;
  padding-top: 90px;
  position: relative;
}
/* line 106, assets\less\style.less */
.wrap .section_1 .title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
}
/* line 111, assets\less\style.less */
.wrap .section_1 .title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 123, assets\less\style.less */
.wrap .section_1 .title p {
  padding-top: 40px;
  font-size: 11px;
  text-align: center;
  width: 722px;
  border: 1px #000 solid;
  margin: 0 auto;
  line-height: 20px;
}
/* line 133, assets\less\style.less */
.wrap .section_1 .contents {
  height: 480px;
  border: 1px #f00 solid;
  padding-top: 78px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 139, assets\less\style.less */
.wrap .section_1 .contents ul {
  font-size: 0;
  margin-bottom: 28px;
}
/* line 142, assets\less\style.less */
.wrap .section_1 .contents ul li {
  display: inline-block;
  font-size: 10px;
  width: 172px;
  height: 193px;
  border: 1px #e6e6e6 solid;
  margin-right: 20px;
  border-radius: 5%;
}
/* line 150, assets\less\style.less */
.wrap .section_1 .contents ul li a {
  text-transform: uppercase;
}
/* line 152, assets\less\style.less */
.wrap .section_1 .contents ul li a img {
  width: 38px;
  height: 36px;
  padding-top: 60px;
  padding-bottom: 30px;
}
/* line 159, assets\less\style.less */
.wrap .section_1 .contents ul li:hover {
  background-color: #e6e6e6;
  font-weight: bold;
}
/* line 161, assets\less\style.less */
.wrap .section_1 .contents ul li:hover img {
  transform: scale(1.3);
  transition: transform .35s;
}
/* line 171, assets\less\style.less */
.wrap .section_2 {
  background-color: #f6f6f6;
  height: 1000px;
  outline: 1px #000 solid;
  padding-top: 90px;
}
/* line 176, assets\less\style.less */
.wrap .section_2 .sec_title {
  position: relative;
  height: 130px;
}
/* line 179, assets\less\style.less */
.wrap .section_2 .sec_title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
}
/* line 184, assets\less\style.less */
.wrap .section_2 .sec_title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 203, assets\less\style.less */
.wrap .section_2 .food_img ul li {
  position: relative;
  float: left;
}
/* line 209, assets\less\style.less */
.wrap .section_2 .food_img ul li a img {
  height: 310px;
  width: 317px;
  -webkit-filter: grayscale(100%);
}
/* line 217, assets\less\style.less */
.wrap .section_2 .food_img button {
  outline: none;
  color: #13a9dc;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #13a9dc solid;
  border-radius: 8px;
  padding: 15px 50px;
  font-size: 10px;
  left: 45%;
  margin-top: 95px;
  margin-left: 46%;
}
/* line 232, assets\less\style.less */
.wrap .section_3 {
  height: 500px;
  outline: 1px #000 solid;
  padding-top: 90px;
}
/* line 237, assets\less\style.less */
.wrap .section_3 .sec_title {
  position: relative;
  height: 130px;
}
/* line 240, assets\less\style.less */
.wrap .section_3 .sec_title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
}
/* line 245, assets\less\style.less */
.wrap .section_3 .sec_title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 258, assets\less\style.less */
.wrap .section_3 .recommend {
  position: relative;
}
/* line 260, assets\less\style.less */
.wrap .section_3 .recommend button {
  position: absolute;
  top: 40%;
  outline: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
/* line 266, assets\less\style.less */
.wrap .section_3 .recommend button img {
  width: 35px;
  height: 35px;
}
/* line 270, assets\less\style.less */
.wrap .section_3 .recommend button:first-child {
  left: 10%;
}
/* line 275, assets\less\style.less */
.wrap .section_3 .recommend:last-child button {
  float: right;
  right: 10%;
}
/* line 279, assets\less\style.less */
.wrap .section_3 .recommend .r_contents {
  outline: 1px #000 solid;
  width: 1000px;
  height: 254px;
  margin: 0 auto;
  background-color: rgba(19, 169, 220, 0.1);
}
/* line 288, assets\less\style.less */
.wrap .section_3 .recommend .r_contents .r_img img {
  width: 272px;
  height: 194px;
  padding: 30px 17px;
  opacity: 0.5;
  border: 1px #000 solid;
}
/* line 295, assets\less\style.less */
.wrap .section_3 .recommend .r_contents .r_img .content_write {
  float: right;
  margin: 35px 75px 26px 0;
}
/* line 298, assets\less\style.less */
.wrap .section_3 .recommend .r_contents .r_img .content_write h3 {
  font-size: 16px;
  margin-bottom: 48px;
}
/* line 302, assets\less\style.less */
.wrap .section_3 .recommend .r_contents .r_img .content_write p {
  font-size: 11px;
}
/* line 304, assets\less\style.less */
.wrap .section_3 .recommend .r_contents .r_img .content_write p:last-child {
  margin-top: 50px;
}
/* line 353, assets\less\style.less */
.wrap .section_4 {
  height: 400px;
  outline: 1px #000 solid;
}
/* line 358, assets\less\style.less */
.wrap .section_4 #map_canvas {
  width: 100%;
  height: 100%;
}
/* line 363, assets\less\style.less */
.wrap .footer {
  height: 55px;
  outline: 1px #00f solid;
  background-color: #000;
}
/* line 367, assets\less\style.less */
.wrap .footer ul {
  outline: 1px #f00 solid;
  text-align: right;
  line-height: 55px;
}
/* line 372, assets\less\style.less */
.wrap .footer ul li {
  outline: 1px #f0f solid;
  padding-right: 25px;
  display: inline-block;
  vertical-align: middle;
}
/* line 378, assets\less\style.less */
.wrap .footer ul li a img {
  height: 17px;
  width: 17px;
  margin-top: 18px;
}
/* line 384, assets\less\style.less */
.wrap .footer ul li button {
  border: 0;
  background-color: #13a9dc;
}
/* line 387, assets\less\style.less */
.wrap .footer ul li button img {
  height: 10px;
  width: 13px;
  padding-bottom: 5px;
}
/* line 393, assets\less\style.less */
.wrap .footer ul li:last-child {
  margin-left: 50px;
  margin-right: 135px;
  background-color: #13a9dc;
  padding: 0 15px;
}
/* line 1, assets\less\enjoy.less */
.wrap {
  width: 100%;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}
/* line 6, assets\less\enjoy.less */
.wrap header {
  position: relative;
}
/* line 8, assets\less\enjoy.less */
.wrap header .gnb {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #323232;
}
/* line 16, assets\less\enjoy.less */
.wrap header .gnb img {
  width: 100%;
  height: 100%;
}
/* line 20, assets\less\enjoy.less */
.wrap header .gnb ul {
  font-size: 0;
  height: 100%;
  width: 1000px;
  outline: 1px #fff solid;
  margin: 0 auto;
}
/* line 27, assets\less\enjoy.less */
.wrap header .gnb ul li {
  font-size: 11px;
  float: left;
  margin-right: 15px;
}
/* line 31, assets\less\enjoy.less */
.wrap header .gnb ul li a {
  color: #fff;
  padding: 10px 35px 10px 35px;
}
/* line 35, assets\less\enjoy.less */
.wrap header .gnb ul li a:hover {
  background-color: #99286b;
  border-radius: 5%;
}
/* line 46, assets\less\enjoy.less */
.wrap header .gnb ul li .on {
  background-color: #99286b;
  border-radius: 5%;
  padding: 10px 35px 10px 35px;
}
/* line 51, assets\less\enjoy.less */
.wrap header .gnb ul li:last-child {
  padding-left: 70px;
}
/* line 54, assets\less\enjoy.less */
.wrap header .gnb ul li button {
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  width: 16px;
  height: 16px;
  transform: rotate(-14deg);
  margin-top: 27px;
}
/* line 67, assets\less\enjoy.less */
.wrap .enjoy_1 {
  width: 100%;
  outline: 1px #f00 solid;
  position: absolute;
  top: 70px;
  text-align: center;
  height: 400px;
}
/* line 74, assets\less\enjoy.less */
.wrap .enjoy_1 h2 {
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 100px;
}
/* line 80, assets\less\enjoy.less */
.wrap .enjoy_1 span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 92, assets\less\enjoy.less */
.wrap .enjoy_1 p {
  padding-top: 60px;
  font-size: 11px;
  width: 800px;
  margin: 0 auto;
  line-height: 27px;
}
/* line 101, assets\less\enjoy.less */
.wrap .enjoy_2 {
  width: 100%;
  height: 655px;
  outline: 1px #000 solid;
  position: absolute;
  top: 470px;
  text-align: center;
}
/* line 109, assets\less\enjoy.less */
.wrap .enjoy_2 .title h2 {
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 100px;
}
/* line 114, assets\less\enjoy.less */
.wrap .enjoy_2 .title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 126, assets\less\enjoy.less */
.wrap .enjoy_2 .title p {
  padding-top: 60px;
  font-size: 11px;
  width: 800px;
  margin: 0 auto;
  line-height: 27px;
}
/* line 137, assets\less\enjoy.less */
.wrap .enjoy_2 .contents ul {
  font-size: 0;
  padding-top: 100px;
}
/* line 140, assets\less\enjoy.less */
.wrap .enjoy_2 .contents ul li {
  font-size: 11px;
  border: 1px #fff solid;
  width: 270px;
  height: 245px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 5%;
  background-color: #99286b;
}
/* line 149, assets\less\enjoy.less */
.wrap .enjoy_2 .contents ul li a {
  text-transform: uppercase;
  color: #fff;
}
/* line 152, assets\less\enjoy.less */
.wrap .enjoy_2 .contents ul li a img {
  width: 50px;
  height: 50px;
  padding-top: 75px;
  padding-bottom: 32px;
}
/* line 163, assets\less\enjoy.less */
.wrap .enjoy_3 {
  width: 100%;
  height: 720px;
  position: absolute;
  top: 1125px;
  outline: 1px #000 solid;
  text-align: center;
}
/* line 171, assets\less\enjoy.less */
.wrap .enjoy_3 .title h2 {
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 100px;
}
/* line 176, assets\less\enjoy.less */
.wrap .enjoy_3 .title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 189, assets\less\enjoy.less */
.wrap .enjoy_3 .slide {
  outline: 1px #000 solid;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: #323232;
}
/* line 195, assets\less\enjoy.less */
.wrap .enjoy_3 .slide button {
  outline: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  float: right;
  margin-top: 12%;
  padding: 10px;
}
/* line 202, assets\less\enjoy.less */
.wrap .enjoy_3 .slide button:first-child {
  float: left;
}
/* line 205, assets\less\enjoy.less */
.wrap .enjoy_3 .slide button img {
  width: 60px;
  height: 60px;
}
/* line 210, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul {
  padding-top: 4%;
}
/* line 212, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 370px;
  outline: 1px #000 solid;
  margin-right: 2%;
}
/* line 219, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li a {
  color: #fff;
  font-size: 13px;
}
/* line 222, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li a img {
  display: block;
  width: 100%;
  height: 370px;
  margin: 0;
}
/* line 230, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li .slide_txt {
  outline: 1px #000 solid;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.8);
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
}
/* line 241, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li .slide_txt h3 {
  margin-bottom: 2%;
  font-size: 16px;
}
/* line 245, assets\less\enjoy.less */
.wrap .enjoy_3 .slide ul li .slide_txt span {
  float: left;
  margin-left: 3%;
  line-height: 150%;
}
/* line 256, assets\less\enjoy.less */
.wrap .enjoy_4 {
  width: 100%;
  height: 720px;
  position: absolute;
  top: 1845px;
  outline: 1px #000 solid;
  text-align: center;
}
/* line 263, assets\less\enjoy.less */
.wrap .enjoy_4 .title {
  border: 1px #000 solid;
}
/* line 265, assets\less\enjoy.less */
.wrap .enjoy_4 .title h2 {
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 120px;
}
/* line 270, assets\less\enjoy.less */
.wrap .enjoy_4 .title span {
  width: 70px;
  height: 2px;
  background-color: #13a9dc;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 283, assets\less\enjoy.less */
.wrap .enjoy_4 .gray {
  margin-top: 100px;
}
/* line 285, assets\less\enjoy.less */
.wrap .enjoy_4 .gray .gray_ul {
  outline: 1px #000 solid;
  height: 381px;
  width: 1190px;
  margin: 0 auto;
}
/* line 293, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul .gray_li {
  outline: 1px #0f0 solid;
  margin: 0.5%;
}
/* line 298, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 {
  outline: 1px #000 solid;
  width: 372px;
  height: 370px;
}
/* line 302, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 ul {
  font-size: 0;
}
/* line 304, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 ul li {
  font-size: 11px;
  display: inline-block;
}
/* line 307, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 ul li:first-child + li {
  float: right;
  padding-bottom: 10px;
}
/* line 312, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 ul li a img {
  width: 180px;
  height: 180px;
}
/* line 317, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section1 ul li:last-child img {
  width: 372px;
  height: 180px;
}
/* line 325, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li {
  float: left;
}
/* line 327, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section2 {
  outline: 1px #000 solid;
  width: 410px;
  height: 370px;
}
/* line 332, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section2 ul {
  font-size: 0;
}
/* line 334, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section2 ul li {
  font-size: 11px;
}
/* line 336, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section2 ul li a {
  font-size: 11px;
}
/* line 338, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section2 ul li a img {
  width: 410px;
  height: 370px;
}
/* line 349, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 {
  outline: 1px #000 solid;
  width: 372px;
  height: 370px;
}
/* line 353, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 ul {
  font-size: 0;
}
/* line 355, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 ul li {
  font-size: 11px;
}
/* line 357, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 ul li:first-child + li {
  float: right;
  padding-bottom: 10px;
}
/* line 362, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 ul li a img {
  width: 180px;
  height: 180px;
}
/* line 367, assets\less\enjoy.less */
.wrap .enjoy_4 .gray ul li .gray_section3 ul li:last-child img {
  width: 372px;
  height: 180px;
}
