@import url('https://fonts.googleapis.com/css?family=Yatra+One');
/* line 1, assets\less\common.less */
body {
  margin: 0;
  padding: 0;
}
/* line 2, assets\less\common.less */
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 3, assets\less\common.less */
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 1, assets\less\style.less */
.wrap {
  width: 100%;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}
/* line 8, assets\less\style.less */
.wrap .header {
  position: relative;
}
/* line 11, assets\less\style.less */
.wrap .header img {
  width: 100%;
}
/* line 14, assets\less\style.less */
.wrap .header .gnb {
  position: absolute;
  top: 10%;
  left: 55%;
  height: 70px;
  line-height: 65px;
}
/* line 21, assets\less\style.less */
.wrap .header .gnb ul {
  font-size: 0;
}
/* line 23, assets\less\style.less */
.wrap .header .gnb ul li {
  font-size: 11px;
  float: left;
  margin-right: 15px;
}
/* line 33, assets\less\style.less */
.wrap .header .gnb ul li a {
  color: #fff;
  padding: 10px 20px 10px 20px;
}
/* line 38, assets\less\style.less */
.wrap .header .gnb ul li:hover a {
  background-color: #13a9dc;
  border-radius: 5%;
}
/* line 43, assets\less\style.less */
.wrap .header .gnb ul li:first-child a {
  background-color: #13a9dc;
  border-radius: 5%;
  padding: 10px 20px 10px 20px;
}
/* line 51, assets\less\style.less */
.wrap .header .main_text {
  position: absolute;
  top: 45%;
  left: 38%;
}
/* line 56, assets\less\style.less */
.wrap .header .main_text h1 {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 62, assets\less\style.less */
.wrap .header .main_text button {
  outline: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #fff solid;
  border-radius: 10%;
  padding: 15px 50px;
  font-size: 10px;
  margin-top: 95px;
  margin-left: 35%;
}
